body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  text-align: center;
}

h2 {
  margin-bottom: 15px;
}

#display {
  width: 100%;
  height: 60px;
  font-size: 25px;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 18px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #f1f1f1;
  transition: 0.2s;
}

button:hover {
  background: #dcdcdc;
}

.zero {
  grid-column: span 2;
}
